<style type="text/css">
  .input-data {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header {
    display: inline-block;
    text-align: left;
  }
</style>

<body>
  <h3 class="header">Express</h3>
  <div class="header">
    <span><a href='/'><small>Login</small></a></span>
    <span><a href='/register'><small>Register</small></a></span>
  </div>