<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホーム画面</title>
</head>
<%- include("./partial/header_logined") %>
<h3>Dashboard</h3>
<p>You are logged in!</p>
<input type="button" id="logoutBtn" value="Logout">
</body>

</html>