<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン画面</title>
</head>
<%- include("./partial/header") %>
<h3>Login</h3>
<div class="input-data">
  <span>E-Mail Address </span><input type="text" id="mailAddress">
</div>
<div class="input-data">
  <span>Password </span><input type="password" id="password">
</div>
<input type="button" id="password" value="Login">
<span><a href="#"><small>Forgot Your Password?</small></a></span>

</body>

</html>