<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登録画面</title>
</head>
<%- include("./partial/header") %>
<h3>Register</h3>
<div class='input-data'>
  <span>Name </span><input type='text' id="name">
</div>
<div class='input-data'>
  <span>E-Mail Address </span><input type='text' id="mailAddress">
</div>
<div class='input-data'>
  <span>Password </span><input type='password' id="password">
</div>
<div class='input-data'>
  <span>Confirm Password </span><input type='password' id="confirmPassword">
</div>
<input type='button' id='password' value='Register'>

</body>

</html>